.product {
    border: solid black 1px;
    border-radius: 6px;
    flex: 0 0 auto;
    margin: 0.1em 0.2em;
    padding: 0.7em 1.5em;
    background-color: #fafafa;
}

.product:hover {
    border: solid black 2px;
    background-color: #fff;
}

.face {
    display: table;
    margin: 1em auto 1.5em auto;
    white-space: nowrap;
}

.price {
    margin-left: -0.5em;
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    font-weight: bold;
}

.date {
    margin-left: -0.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}