.product {
    border: solid black 1px;
    border-radius: 6px;
    flex: 0 0 auto;
    margin: 0.1em 0.2em;
    padding: 0.7em 1.5em;
}

.face {
    display: table;
    margin: 1em auto 1.5em auto;
}

.price {
    margin-left: -0.5em;
    font-family: Gill Sans Extrabold, sans-serif;
    font-weight: bold;
}

.date {
    margin-left: -0.5em;
    font-family: "Universalis ADF Cd Std", sans-serif;
}